<h1>Welcome {{user.username}} to the details page</h1>

<form method="POST" action="">
	{% csrf_token %}
	<label for="id_RollNo"><p>RollNo:</p></label>
	<input readonly type="text" id="id_RollNo" name="RollNo" value="{{user.username}}">
	<br><br>
	<label for="id_CurrentSem"><p>CurrentSem:</p></label>
	<input type="text" id="id_CurrentSem" name="CurrentSem"> 
	<br><br>
	<label for="id_name"><p>name:</p></label>
	<input type="text" id="id_name" name="name">
	<br><br>
	<label for="id_hackerearth"><p>hackerearth:</p></label>
	<input type="text" id="id_hackerearth" name="hackerearth">
	<br><br>
	<label for="id_codechef"><p>codechef:</p></label>
	<input type="text" id="id_codechef" name="codechef">
	<br><br>
	<label for="id_spoj"><p>spoj:</p></label>
	<input type="text" id="id_spoj" name="spoj">
	<br><br>
	<label for="id_github"><p>github:</p></label>
	<input type="text" id="id_github" name="github">  
	<br><br>
	<button type="submit">Submit</button>    

</form>	